---
// FontSource packages cannot be imported within CSS.
// Supports weights `100-900`.
// import '@fontsource-variable/outfit';

import '@styles/reset.css';
import '@styles/global.css';
import '@styles/utility.css';

interface Props {
  id: string;
  title?: string;
}

const {id, title = 'Try WebGPU'} = Astro.props;

const DESCRIPTION = 'Into the 3rd dimension';
const PERMALINK = new URL(Astro.url.pathname, Astro.site).href;
const OG_IMAGE = new URL('/dulmage-social.png', Astro.site).href;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />

    <title>{title}</title>

    <!-- SEO meta -->
    <meta name="description" content={DESCRIPTION} />
    <meta
      name="keywords"
      content="CodeLab, WebGPU, Experiment"
    />
    <meta name="generator" content={Astro.generator} />

    <!-- Web app meta -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-title" content="Try WebGPU" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Favicons (see: https://vite-pwa-org.netlify.app/assets-generator) -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Open Graph meta -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Try WebGPU" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={DESCRIPTION} />
    <meta property="og:image" content={OG_IMAGE} />
    <meta property="og:url" content={PERMALINK} />

    <!-- Twitter meta -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="Try WebGPU" />
    <meta property="twitter:url" content="https://dulmage.me/" />
    <meta property="twitter:site" content="@beefchimi" />
    <meta property="twitter:account_id" content="358226505" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={DESCRIPTION} />
    <meta property="twitter:image" content={OG_IMAGE} />

    <!-- Google tag script should go here... -->
  </head>

  <body id={id}>
    <slot />
  </body>
</html>

<style>
  /* Styles go here */
</style>

<script>
  console.log('Page loaded!');
</script>
